[Unit]
Description=22 Amazon books bot
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/amazon
ExecStart=/root/amazon/venv/bin/python bamazon.py
Restart=always
RestartSec=10
StartLimitBurst=5
StartLimitIntervalSec=300

[Install]
WantedBy=multi-user.target